%table.table
  %tr                          
    %th
      %h1 Información
  %tr
    %th
      URL
    %th
      SHORTURL
    %th
      Nº VISITAS
  %tr
    %th
      #{@list.url}
    %th
      #{@list.url_opc}
    %th
      #{@list.n_visits}



